{:components
 {:db
  {:start
   (crux.api/start-standalone-node
     {:kv-backend "crux.kv.memdb.MemKv"
      :event-log-dir "data/eventlog-1"
      :db-dir "data/db-dir-1"})}

  :handler
  {:start
   (juxt.clip-example.http/handler
     (clip/ref :db))}

  :router
  {:start
   (reitit.ring/ring-handler
     (reitit.ring/router
       [["/handler" (clip/ref :handler)]])
     (constantly {:status 404, :body "404"}))}
  
  :http
  {:start
   (ring.adapter.jetty/run-jetty
     (clip/ref :router)
     {:join? false
      :port 3005})
   :stop juxt.clip-example.http/stop-jetty}}}
